[submodule "lib/cpgf"]
	path = lib/cpgf
	url = https://github.com/ErrorFlexXx/cpgf.git
[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/LuaDist/lua.git
[submodule "lib/python-cmake-buildsystem"]
	path = lib/python-cmake-buildsystem
	url = https://github.com/ErrorFlexXx/python-cmake-buildsystem.git
[submodule "lib/RakNet"]
	path = lib/RakNet
	url = https://github.com/ErrorFlexXx/RakNet.git
[submodule "lib/tinydir"]
	path = lib/tinydir
	url = https://github.com/cxong/tinydir.git
[submodule "lib/ZenLib"]
	path = lib/ZenLib
	url = https://github.com/degenerated1123/ZenLib.git
[submodule "lib/physfs"]
	path = lib/physfs
	url = https://github.com/Didstopia/physfs.git
[submodule "lib/cpp-httplib"]
	path = lib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
